###########################################################
########Standard Python Library  defined ##################
###########################################################

# Here its necessary to add other libraries used in your project
pytest==4.4.1
Flask>=1.1.1
pymongo
pathlib
datetime
jsonschema
